
*{
    
}
*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
:root{
    --color2:#fdf0e9;
    --color3:#28293e;
    --color4:#ef6d58;
    --color5:#391400;
    --color6:#9747ff;
    --hr:#f2b899;
}
/* Navbar */
.nav-link{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.nav,.hero-section,.portfolio{
    background-color: var(--color3);
    color: white;
}
.btn{
    border: 1px white solid;
}
.btn:hover{
    border: 1px var(--color6) solid;
    border-radius: 0px;

}
/* Hero Section */

.logo-sec,.about,.work{
    background-color: var(--color2);
}
.modern-studio,.how-we,.video-reel,.portfolio-text,.get-start,.our-team,.price,.faq,.menu,.service{
    color: var(--color4);
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    font-weight: 400;
    font-family:"Montserrat";
}
.we-are,.num2{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 80px;
    /* font-family: "Inter"; */
}
.work-btn{
    background-color: var(--color4);
    border: 3px var(--color3) solid;
}
.work-btn:hover{
    background-color: var(--color4);
    border-radius: 0px;
    border: 3px var(--color6) solid;
    transition: none;
}
.design-text,.latest-work{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 60px;
    color: var(--color5);
}
.para1{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    color: var(--color5);
}
.para2,.accordion-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
} 
.num,.making,.unlock,.work-text,.num3,.faq2{
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -2px;
    font-weight: 700;
    color: var(--color5);
}
.read-more{
    color: var(--color5);
}
.num2{
    color: var(--color5);
}
.num2-text,.we-help{
    color: var(--color5);
    font-size: 24px;
    font-weight: 700;
}
.accordion-button{
    font-size: 22px;
    font-weight: 700;
}
.agency{
    color: var(--color5);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
}
hr{
    color: var(--hr);
}
.terms,.privacy,.footer-text{
    color: var(--color5);
    font-size: 17px;
}


.video{
    background: url(./images/Bitmap1.svg);
    position: relative;
    background-position: center;
    background-size: cover;
}

/* Portfolio */
sup{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 3px;
}

#portfolio-img1,#portfolio-img2,#portfolio-img3,#portfolio-img4{
    height: 300px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#portfolio-img1{
    background: url(./images/Bitmap2.svg);
}
#portfolio-img2{
    background: url(./images/Bitmap3.svg);
}
#portfolio-img3{
    background: url(./images/Bitmap4.svg);
}
#portfolio-img4{
    background: url(./images/Bitmap5.svg);
}
.arrow:hover{
    background: var(--color3);
    border: 1px white solid;
    color: white;
}
.team{
    width: 90%;
    height: 220px;
    border: 1px rgb(60, 65, 97) solid;
}
.gift-img{
    height: 100px;
}


/* Pricing */
.pricing{
    background: var(--color2);
}
.btn-2{
    background-color: var(--color4);
    border: 3px var(--color2) solid;
}
.btn-2:hover{
    background-color: var(--color4);
    border-radius: 0px;
    border: 3px var(--color6) solid;
    transition: none;
}

/* Map */
.map{
    height: 450px;
}
.contact{
    background: white;
    margin: 60px 80px;
}

/* Footer */
/* .ul2.li.a{
    text-decoration: none;
} */

     @media screen and (max-width: 320px) {
        h1 {
            font-size: 56px;
            font-weight: 800;
            letter-spacing: -1px;
            line-height: 64px;
        }
        .star{
            display: none;
        }
        h2{
            font-size: 40px;
            font-weight: 800;
            letter-spacing: 0px;
            line-height: 48px;
        }
        .video{
            background: url(./images/Bitmap1.svg);
            width: 100px;
        }
        .gift1{
            height: 150px;
        }
        .gift-img3{
            height: 340px;
            margin: 0px;
        }
        .gift-img{
            margin:0% 20%;
        }
        .gifth5{
            margin: 0px 40px;
        }
        .terms{
            margin-right: auto;
        }
        
    }
/*
    @media screen and (width:1024px){
        .gift1{
            margin-top:50px;
        }
        .terms{
            margin-right: 50px;
        }
        .girl-img{
            height: 100%;
        }
    }

    @media screen and (width:1330px) {
        .gift-img3{
            height: 350px;
        }
        .gift-img{
            margin-bottom: 80px;
        }

    }

    @media screen and (width:1440px){
        .gift-img3{
            margin-left: 40px;
        }
        .gift1{
            margin-top: 50px;
        }
        .terms{
            margin-right: 50px;
        }
        .girl-img{
            width: 70%;
        }
    } */

